{% extends "hr/base.html" %}

{% block content %}

<h2>Sign Up</h2>
<form method="post">
    {% csrf_token %}
    <label>First Name:</label>
    <input type="text" name="first_name" class="form-control" required>
    <label>Last Name:</label>
    <input type="text" name="last_name" class="form-control" required>
    <label>Email:</label>
    <input type="email" name="email" class="form-control" required>
    <label>Username:</label>
    <input type="text" name="username" class="form-control" required>
    <label>Password:</label>
    <input type="password" name="password" class="form-control" required>
    <label>Confirm Password:</label>
    <input type="password" name="confirm_password" class="form-control" required>
    <button class="btn btn-primary mt-2">Sign Up</button>
</form>
<a href="{% url 'login' %}">Already have an account? Login</a>
{% for message in messages %}
  <p style="color: red;">{{ message }}</p>
{% endfor %}
{%endblock %}

